/*Contact sectiom*/
.it19184722-content-header {
  font-family: "Oleo Script", cursive;
  color: #fcc500;
  font-size: 45px;
}

.it19184722-section-content {
  text-align: center;
}

#it19184722-contact {
  font-family: "Teko", sans-serif;
  padding-top: 110px;
  width: 100%;
  height: 800px;
  background: #3a6186; /* fallback for old browsers */
  background: webkit-linear-gradient(
    to left,
    #3a6186,
    #89253e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #3a6186,
    #89253e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
.it19184722-contact-section {
  margin-top: -240px;
  background-image: url("../../images/contact us.svg");
}
.dila {
  background-color: transparent;
}
.it19184722-contact-section .it19184722-col-md-6 {
  width: 50%;
}

.it19184722-form-line {
  border-right: 1px solid #b29999;
}

.it19184722-form-group {
  margin-top: 10px;
}
.it19184722-lbl {
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control-it19184722 {
  font-size: 1.1em;
  color: #080808;
  margin-bottom: 15px;
}
textarea.form-control-it19184722 {
  height: 135px;
  /* margin-top: px;*/
}
